<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/home.css">
    <title>HopeTrade</title>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <%- include("./partials/nav") %>

    <main>
        <h1>hola rey</h1>
        <p><%= locals.nombre || "no hay nadie" %></p>
    </main>
    
    <%- include("./partials/footer") %>
</body>
</html>